// @import 'base';
// @import '~normalize.css/normalize';

@import './variables/colors';
@import './typography.css';

html {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
