.max720 {
  max-width: 720px;
}

.flex {

}
.vertical {

}
.centered {

}

.padding-large {
  padding: 20px;
}
.padding-small {
  padding: 10px;
}
.margin-large {
  margin: 20px;
}
.margin-small {
  margin: 10px;
}
