.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: fixed;

  bottom:0;
  left: 0;
  width: 200%;

  animation-name: left;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes left {
  from {transform: translateX(0);}
  to {transform: translateX(-1500px);}
}

@keyframes right {
  from {transform: translateX(0px);}
  to {transform: translateX(1500px);}
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: fixed;

  top:0;
  left: -1500px;
  width: 200%;

  animation-name: right;
  animation-duration: 15s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.footer span, .header span {
  padding: 0px;
  line-height: 1;
  margin: 0;
  font-family: "Helvetica Neue";
  font-weight: 900;
  font-style: italic;
  color: transparent;
  font-size:60px;
  overflow: hidden;
  white-space: nowrap;
  -webkit-text-stroke: 1px #fe5245;
}
