.app-container {
  height: 100vh;
  width: 100vw;
  max-height: 100vh;
  max-width: 100vw;

  padding: 30px;
}

.app-content {
  width: 100%;
  height: 100%;
}

.three-container {
  position: fixed;
  top:0;
  left:0;

  z-index: -10;
}

.button {
  position: relative;
  top: -200px;
}
