.productPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 100vh;

  .details {
    flex: 0 1 auto;
    max-width: 500px;
  }

  svg {
    width: 36px;
    height: 36px;
  }


}

.picture {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  z-index: -1;

  img {
    flex: 0 1 auto;

    max-height: 80vh;
  }
}
